/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


/*-----GENERAL STYLING-----*/

body {
    width: 758px;
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    font-family: sans-serif;
    color: #24252b;
    padding: 40px 0;
}

html * {
    box-sizing: border-box;
}

strong {
    font-weight: 900;
}

a:hover {
    cursor: pointer;
}

label {
    font-weight: 600;
    margin-top: 30px;
}

fieldset:first-child label:first-of-type {
    margin-top: 0;
}

.text-box {
    outline: none;
    line-height: 20px;
    width: 70%;
    border: 1px solid #b8b8b8;
    padding: 4px;
    border-radius: 4px;
}

select {
    font-size: 14px;
    margin-bottom: 30px;
}

/*-----MAIN HEADER------*/

.main-header {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.logo {
    float: left;
    width: 100px;
}

.signup-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #6e6f78;
}

.signup-nav li {
    float: left;
    padding: 0 10px;
}

.signup-nav a {
    color: #24252b;
}

/*-----CONTENT POSITIONING-----*/

.content {
    clear: both;
    padding: 50px;
    margin: 10px 0 20px 0;
    overflow: auto;
    box-shadow: 1px 2px 10px #b8b8b8;
}

.create {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 30px;
}

.content-wrap {
    width: 100%;
}

.content-wrap > * {
    float: left;
}

.signup-area {
    width: 60%;
    margin-right: 5%;
    border-right: 1px solid #b8b8b8;
}

.why {
    width: 35%;
    padding: 24px 20px;
    font-size: 12px;
    background: #ececec;
    color: #555763;
}

.why h1 {
    font-size: 1.7em;
    margin-bottom: 10px;
}

.why ul {
    list-style: disc;
    list-style-position: inside;
}

.why li {
    padding: 4px 0;
}

form > fieldset > * {
    display: block;
    margin-bottom: 10px;
}

#terms {
    font-size: 12px;
    color: #6e6f78;
}

#terms a {
    color: #06436d;
    font-weight: 700;
}

button[type=submit] {
    outline: none;
    border: 0;
    border-radius: 4px;
    margin-top: 40px;
    padding: 12px;
    text-transform: uppercase;
    background: #1ecef3;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

/*------FOOTER POSITIONING-----*/

footer {
    clear: both;
    text-align: center;
}

.footer-nav {
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: #6e6f78;
    margin-bottom: 30px;
}

.footer-nav li {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid #b8b8b8;
}

.footer-logos img {
    height: 50px;
    display: inline-block;
    margin: 10px 10px 40px 10px;
}

small {
    font-size: 12px;
    color: #6e6f78;
}